footer {
  height: 365px;
  width: 100%;
  background-color: black;
  color: white;
  display: inline-flex;
  justify-content: space-around;
}


footer div {
  margin-top: 99px;
}

footer h1 {
  font-size: 36px;
}

footer p {
  font-size: 24px;
  width: 249px;
}

footer img {
  padding: 10px;
}