.secondContent {
  display: flex;
  margin-top: 17.93rem;
  justify-content: space-evenly;
  margin-left: 155px;
}

#imgCoding {
  margin-top: 287px;
  height: 31.87rem;
}

#servicesList {
  margin-top: 397px;
  list-style: url(img/component.png);
  font-size: 1.87rem;
  font-style: $fontBase;
  
  
}

  
  
